ul,
li {
  list-style: none;
}


/* 登陆/注册 */
.container-xxl {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #f5f5f9;

  .login-box {
    max-width: 450px;
    transform: translateY(30%);
  }
}


.navbar-brand {
  font-family: var(--font-geist-mono);
}